/* Romantic Mobile App Theme */

*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

min-height:100vh;

background:
linear-gradient(
135deg,
#ff758c,
#ff7eb3
);

font-family:'Poppins',sans-serif;

display:flex;

justify-content:center;

align-items:center;

overflow-x:hidden;

}



/* Mobile App Container */


.app{


width:100%;

max-width:430px;

height:100vh;


background:

rgba(255,255,255,.12);


backdrop-filter:blur(20px);


overflow:hidden;


position:relative;


box-shadow:

0 0 50px rgba(0,0,0,.3);


}



/* Top App Bar */


.header{


height:70px;


display:flex;

align-items:center;

justify-content:center;


font-family:'Great Vibes';

font-size:45px;


color:white;


background:

rgba(255,255,255,.15);


}



/* Screen */


.screen{


height:

calc(100vh - 130px);


overflow-y:auto;


padding:25px;


}




/* Cards */


.app-card{


background:

rgba(255,255,255,.2);


border-radius:25px;


padding:25px;


margin-bottom:20px;


color:white;


box-shadow:

0 10px 30px rgba(0,0,0,.2);


}





/* Bottom Navigation */


.bottom-nav{


position:absolute;


bottom:0;


left:0;


width:100%;


height:70px;


background:

rgba(255,255,255,.2);


backdrop-filter:blur(20px);


display:flex;


justify-content:space-around;


align-items:center;


}




.nav-item{


font-size:28px;


cursor:pointer;


transition:.3s;


}



.nav-item:hover{


transform:scale(1.3);


}





/* Buttons */


.app-btn{


width:100%;


padding:16px;


border:none;


border-radius:50px;


background:white;


color:#ff416c;


font-size:18px;


font-weight:bold;


margin-top:20px;


}




/* Page animation */


.fade{


animation:

slide .8s;


}



@keyframes slide{


from{

opacity:0;

transform:translateX(50px);

}


to{

opacity:1;

transform:translateX(0);

}


}



/* Heartbeat */


.heart-beat{


animation:

heartbeat 1s infinite;


}



@keyframes heartbeat{


50%{

transform:scale(1.2);

}


}




/* Mobile Fix */


@media(max-width:430px){


.app{

border-radius:0;

}


}
